@media print {

	img {
    float: right;
    margin: 0 0 10px 10px;
	}

	.notes{
		font-size: 12px;
	}

	.signeeInfo{
		margin-top: 2em;
	}
	.box{
		margin-bottom: 2em;
	}

	.box2{
	
	margin-top: 20px;

	}

	.forprint{
		width: 105px;
	}

	.forprint2{
		width: 200px;
	}

	.displayTable{
		font-size: 20px;
		text-align:center;			
	}

}