@media print {

	
	img {
    	float: right;
    	width: 55px;
    	height: 55px; 
	}

	body {
		font-size: 11px !important;
	}


	input{
		border-width: 1px;
		width:100%;

	}
	.signee{
		width: 70%;
		border: none;
	}
	.signeeInfo{
		margin-top: 5px !important;
		font-size: 12px;
	}

	.notes{
		font-size: 9px;
	}
	.box{
		margin-bottom:0px !important;
	}

	.box2{
		float:left;
		width:50%;
	}
	.box3{
		float:right;
		text-align: right;
		width:50%;
	}
	.active{
		background-color: red !important;
	}
	.forprint{
		width: 100%;
		margin:none;
		border-style:none;
	}
	.forprint2{
		color: transparent !important;
		border-top-style: none;
		border-right-style: none;
		border-left-style: none;
		border-bottom-style:solid;
		border-bottom-width: 1px !important;
		border-bottom-color: gray;
	}

	.forprint3{
		font-size: 14px;
		margin:none;
		padding:none;	
	}
	.forprint4{
		font-size: 18px;
		margin-bottom: 13px !important;
		padding:none;	

	}
	.forprint5{
		margin-bottom: 2px;	

	}
	.displayTable{
		margin-bottom: 10px !important;		
	}

	.displayRow{
		font-size: 14px;
		text-align:center;			
	}

	.frontnotes{
		display: none;
	}
	.backnotes{
		display: none;
	}
	.forprintwidth{
		width: 50%;
	}


	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding-left: 2px !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		padding-right: 0 !important;
		height:13px !important;
		text-align: center !important;
	}
 

	
}

@page  
{ 
   
    margin: 5mm 5mm 10mm 6mm;  
10



