img {
    float: right;
}

.notes{
	font-size: 12px;
}

.forprint{
	width: 100%;
	margin:none;
	border-style:none;
}
.forprint2{
	color: #C1C1C1;
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style:solid;
	border-bottom-width: 1px !important;
}

.displayRow{
		padding-left: 20px !important;			
}

.signeeInfo{
	margin-top: 2em;
}
.signee{
	width: 22em;
}
.box{
	margin-bottom: 2em;
}

.box2{
	float:left;
}
.box3{
	float:right;
	text-align: right;
}
.box4{
	margin-top: 15px;
}

.displayTable{
	font-size: 20px;
	text-align:center;		
}
